<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>My personal home page</h1>
    <p>Welcome to Nasr Home page</p>
    <%= link_to "About Me", pages_about_path%>
</div>
</body> 
</html>